@use "../../../global-styles/colors.scss" as *;
@use "../../../global-styles/mixins/default-layout/default-layout.scss" as *;

#patient-main-container {
    @include defaut-screen;
}

#patient-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 12px;
    padding-top: 60px;
}
#search-box {
    width: 400px;
    height: 45px;
    background-color: $text-light;
    box-shadow: 0px 0px 2px 2px #e4e4e4;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    padding: 0px 8px;
    justify-content: flex-start;
    align-items: center;

    svg {
        width: 28px;
        height: 28px;
        color: #adadad;
    }
    input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 16px;
        color: #adadad;
    }
}

#list-box {
    box-shadow: 0px 0px 2px 2px #e4e4e4;
    overflow: hidden;
   border-radius: 12px;
   
}
