#patient-main-container {
  width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 30px;
}

#patient-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 12px;
}
#patient-content ul {
  width: 20%;
  height: 45px;
  box-shadow: 0px 0px 2px 2px #e4e4e4;
  border-radius: 12px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
}
#patient-content ul li:first-child a {
  cursor: pointer;
  font-size: 20px;
}
#patient-content ul li:last-child a {
  cursor: pointer;
  font-size: 20px;
}
#patient-content ul li {
  list-style: none;
}
#patient-content ul li a {
  color: #adadad;
  font-size: 14px;
}

#search-box {
  width: 400px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 2px #e4e4e4;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 0px 8px;
  justify-content: flex-start;
  align-items: center;
}
#search-box svg {
  width: 28px;
  height: 28px;
  color: #adadad;
}
#search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #adadad;
}

#list-box {
  box-shadow: 0px 0px 2px 2px #e4e4e4;
  overflow: hidden;
  border-radius: 12px;
}